<div id="proteinTitle">
    <button id="extender" class="btn btn-default" style="float:right">Extend overview</button>
    <h2>{{entryName}}</h2>
</div>
<div id="INFOS-LESS" style="display:block">
    {{#if cleavage}}
    <div id="cleavage-less" class="row">
        <div class="col-md-2" style="color: grey;text-align:right">Cleaved into :</div>
        <div class="col-md-6">{{#cleavage}}<span>{{synonymName}}, </span>{{/cleavage}}</div>
    </div>
    {{/if}}
    <div id="gene-less" class="row">
        <div class="col-md-2" style="color: grey;text-align:right">Gene Name :</div>
        <div class="col-md-6">{{geneName}}</div>
    </div>
    {{#if family}}
    <div id="family-less" class="row">
        <div class="col-md-2" style="color: grey;text-align:right">Family Name :</div>
        <div class="col-md-6">{{#family}}<span>{{{link_to "family"}}}</span>{{/family}}</div>
    </div>
    {{/if}}
</div>
<div id="INFOS-FULL" style="display:none">
    <div id="gene-full" class="row">
        <div class="col-md-2 text-uppercase" style="color: grey;">Protein</div>
        <div class="col-md-6">
            <dl>
                <dt>Recommended Name</dt>
                <dd> {{geneName}}</dd>
                {{#if cleavage}}
                <dt>Cleaved into the following {{cleavage.length}} chains</dt>
                {{#cleavage}}
                <dd>{{synonymName}}</dd>
                {{/cleavage}}{{/if}}
                <dt>Alernative Name</dt>
                {{#alternativeName}}
                <dd> {{synonymName}}
                    {{#if synonyms}}<em style="font-size:12px;">(short : {{synonyms.[0].synonymName}}) </em>{{/if}}
                </dd>
                {{/alternativeName}}
            </dl>
        </div>
    </div>
    {{#if family}}
    <div id="family-full" class="row">
        <div class="col-md-2 text-uppercase" style="color: grey;">Family</div>
        <div class="col-md-6">
            <dl>
                <dt>Family</dt>
                {{#family}}
                <dd>{{{link_to "family"}}}</dd>
                {{/family}}
            </dl>
        </div>
    </div>
    {{/if}}
    <div id="History-full" class="row">
        <div class="col-md-2 text-uppercase" style="color: grey;">History</div>
        <div class="col-md-6">
            <dl>
                <dt>NeXtProt</dt>
                <dd>Integrated {{integDate}}</dd>
                <dd>Last Updated {{lastUpdate}}</dd>
                <dt>UniprotKB</dt>
                <dd>Entry version {{version}}</dd>
                <dd>Integration Date {{UniprotIntegDate}}</dd>
                <dd>Last Update {{UniprotLastUpdate}}</dd>
                <dd>Sequence version {{seqVersion}}</dd>
                <dd>{{#accessionNumber}}{{{link_to "history"}}}{{/accessionNumber}}</dd>
            </dl>
        </div>
    </div>
</div>
<p style="margin:10px 10px;">Entry whose protein(s) existence is based on {{proteineEvidence}}</p>