<div id="proteinTitle">
    <button id="extender" class="btn btn-default" style="float:right">Extend overview</button>
    <h3>{{#geneName.[0]}}{{name}}{{/geneName.[0]}} → {{entryName}} {{#recommendedProteinName}}{{#if EC}}  [{{#EC}} {{{link_to "EC"}}} {{#unless @last}},{{/unless}} {{/EC}} ] {{/if}}{{#if mainShortName}}( {{mainShortName}} ) {{/if}}{{/recommendedProteinName}}</h3>
</div>
<div id="INFOS-LESS" style="display:block">
    {{#if recommendedProteinName.mainSynonymName}}
    <div id="synonym-less" class="row">
        <div class="col-md-3 col-xs-3" style="color: grey;text-align:right">Protein also known as :</div>
        <div class="col-md-6 col-xs-6">{{#recommendedProteinName}}{{mainSynonymName}} {{#others}} ; {{type}}{{#names}} {{name}}{{/names}}{{/others}}{{/recommendedProteinName}}</div>
    </div>
    {{/if}}
    {{#if cleavage}}
    <div id="cleavage-less" class="row">
        <div class="col-md-3 col-xs-3" style="color: grey;text-align:right">Cleaved into :</div>
        <div class="col-md-6 col-xs-6">{{#cleavage}}{{#names}}<span>{{name}}, </span>{{/names}}{{/cleavage}}</div>
    </div>
    {{/if}}
    <div id="gene-less" class="row">
        {{#if geneName.[0].name}}
        <div class="col-md-3 col-xs-3" style="color: grey;text-align:right">Gene Name :</div>
        <div class="col-md-6 col-xs-6" >{{#geneName}}{{name}}{{#unless @last}}, {{/unless}}{{/geneName}}</div>
        {{else}}
        <div class="col-md-3 col-xs-3" style="color: grey;text-align:right">ORF Name :</div>
        <div class="col-md-6 col-xs-6">{{geneName.[0].orf.[0].name}}</div>
        {{/if}}

    </div>
    {{#if family}}
    <div id="family-less" class="row">
        <div class="col-md-3 col-xs-3" style="color: grey;text-align:right">Family Name :</div>
        <div class="col-md-6 col-xs-6">{{#family}}<span>{{{link_to "term"}}}</span>{{/family}}</div>
    </div>
    {{/if}}
</div>
<div id="INFOS-FULL" style="display:none">
    <div id="protein-full" class="row">
        <div class="col-md-1 col-xs-2 text-uppercase" style="color: grey;">Protein</div>
        <div class="col-md-9 col-xs-8">
            <dl>
                <dt>Recommended Name</dt>
                {{#recommendedProteinName}}
                <dd>{{name}} {{#synonyms}}{{#if EC}}[{{#EC}} {{{link_to "EC"}}} {{#unless @last}},{{/unless}} {{/EC}} ] {{/if}} {{#if short}}<span style="font-size:12px;"><span style="color:grey">Short: </span> {{#short}}{{this}}{{#unless @last}}, {{/unless}}{{/short}}</span>{{/if}}{{/synonyms}}</dd>
                {{/recommendedProteinName}}
                {{#if alternativeProteinNames}}
                {{#alternativeProteinNames}}
                <dt>{{type}}</dt>
                {{#names}}
                <dd> {{name}}
                    {{#synonyms}}{{#if EC}}[{{#EC}} {{{link_to "EC"}}} {{#unless @last}},{{/unless}} {{/EC}} ] {{/if}} {{#if short}}<span style="font-size:12px;"><span style="color:grey">Short: </span> {{#short}}{{this}}{{#unless @last}}, {{/unless}}{{/short}}</span>{{/if}}{{/synonyms}}
                </dd>
                {{/names}}
                {{/alternativeProteinNames}}
                {{/if}}
                {{#if functionalRegionNames}}
                {{#functionalRegionNames}}
                <dt>Include the following functional regions</dt>
                {{#names}}
                <dd> {{name}}
                    {{#synonyms}}{{#if EC}}[{{#EC}} {{{link_to "EC"}}} {{#unless @last}},{{/unless}} {{/EC}} ] {{/if}} {{#if full}}<span style="font-size:12px;"><span style="color:grey">Alternative name{{plural full}}:</span> {{#full}}{{this}}{{#unless @last}}, {{/unless}}{{/full}}</span>{{/if}}{{/synonyms}}
                </dd>
                {{/names}}
                {{/functionalRegionNames}}
                {{/if}}
                {{#if cleavage}}
                {{#cleavage}}
                <dt>Cleaved into the following {{names.length}} chains</dt>
                {{#names}}
                <dd>{{name}} {{#synonyms}}{{#if EC}}[{{#EC}} {{{link_to "EC"}}} {{#unless @last}},{{/unless}} {{/EC}} ] {{/if}} {{#if full}}<span style="font-size:12px;"><span style="color:grey">Alternative name{{plural full}}:</span> {{#full}}{{this}}{{#unless @last}}, {{/unless}}{{/full}}</span>{{/if}}{{/synonyms}}</dd>
                {{/names}}
                {{/cleavage}}
                {{/if}}
            </dl>
        </div>
    </div>
    <div id="gene-full" class="row">
        <div class="col-md-1 col-xs-2 text-uppercase" style="color: grey;">Gene</div>
        <div class="col-md-9 col-xs-8">
            <dl>
                {{#geneName}}
                {{#if name}}
                <dt>Recommended Name</dt>
                <dd>{{name}}</dd>
                {{/if}}
                {{#if synonyms}}
                <dt>Alternative Names</dt>
                {{#synonyms}}
                <dd> {{name}}</dd>
                {{/synonyms}}
                {{/if}}
                {{#if orf}}
                <dt>ORF names</dt>
                {{#orf}}
                <dd> {{name}}</dd>
                {{/orf}}
                {{/if}}
                {{/geneName}}
            </dl>
        </div>
    </div>
    {{#if family}}
    <div id="family-full" class="row">
        <div class="col-md-1 col-xs-2 text-uppercase" style="color: grey;">Family</div>
        <div class="col-md-9 col-xs-8">
            <dl>
                <dt>Family</dt>
                {{#family}}
                <dd>{{{link_to "term"}}}</dd>
                {{/family}}
            </dl>
        </div>
    </div>
    {{/if}}
    <div id="History-full" class="row">
        <div class="col-md-1 col-xs-2 text-uppercase" style="color: grey;">History</div>
        <div class="col-md-9 col-xs-8">
            <dl>
                <dt>neXtProt</dt>
                <dd>Integrated {{integDate}}</dd>
                <dd>Last Updated {{lastUpdate}}</dd>
                <dt>UniProtKB</dt>
                <dd>Entry version {{version}}</dd>
                <dd>Integration Date {{UniprotIntegDate}}</dd>
                <dd>Last Update {{UniProtLastUpdate}}</dd>
                <dd>Sequence version {{seqVersion}}</dd>
                <dd>{{#accessionNumber}}{{{link_to "history"}}}{{/accessionNumber}}</dd>
            </dl>
        </div>
    </div>
</div>
<p style="margin:10px 10px;">Entry whose protein(s) existence is based on {{proteineEvidence}}</p>