<style>
dd{
 margin-left:15px;
}
</style>
<div id="proteinTitle">
    <button id="extender" class="btn btn-default" style="float:right;margin-top:-5px;">Extend overview</button>
    <h3>{{#if geneName}} {{#if geneName.[0].name}}{{geneName.[0].name}}  →  {{/if}}{{/if}}
    {{entryName}} {{#recommendedProteinName}}{{#synonyms}}{{#if EC}}[{{#EC}} {{{link_to "EC"}}} {{#unless @last}},{{/unless}} {{/EC}} ] {{/if}}{{/synonyms}}{{#if mainShortName}}( {{mainShortName}} ) {{/if}}{{/recommendedProteinName}}</h3>
</div>
<div id="INFOS-LESS" style="display:block;margin-top:15px;">
    {{#if recommendedProteinName.mainSynonymName}}
    <div id="synonym-less" class="row">
        <div class="col-md-3 col-xs-3" style="color: grey;text-align:right">Protein also known as :</div>
        <div class="col-md-9 col-xs-9">{{#recommendedProteinName}}{{#mainSynonymName}}{{name}}{{#if synonym}} ({{synonym}}) {{/if}}{{/mainSynonymName}} {{#if others}} ; {{/if}}{{#others}}{{type}}{{plural names}}:{{#names}} {{name}}{{#unless @last}},{{/unless}}{{/names}}{{#unless @last}}; {{/unless}}{{/others}}{{/recommendedProteinName}}</div>
    </div>
    {{else}}
    {{#if recommendedProteinName.others}}
    <div id="synonym-other-less" class="row">
        <div class="col-md-3 col-xs-3" style="color: grey;text-align:right">Protein also known as :</div>
        <div class="col-md-9 col-xs-9">{{#recommendedProteinName}}{{#others}} {{type}}{{plural names}}:{{#names}}{{name}}{{#unless @last}},{{/unless}}{{/names}}{{#unless @last}}; {{/unless}}{{/others}}{{/recommendedProteinName}}</div>
    </div>
    {{/if}}
    {{/if}}

    {{#if cleavage}}
    <div id="cleavage-less" class="row">
        <div class="col-md-3 col-xs-3" style="color: grey;text-align:right">Cleaved into :</div>
        <div class="col-md-6 col-xs-6">{{#cleavage}}{{#names}}<span>{{name}}{{#unless @last}}; {{/unless}}</span>{{/names}}{{/cleavage}}</div>
    </div>
    {{/if}}
    <div id="gene-less" class="row">
        {{#if geneName}}
            {{#if geneName.[0].name}}
            <div class="col-md-3 col-xs-3" style="color: grey;text-align:right">Gene name :</div>
            <div class="col-md-6 col-xs-6" >{{#geneName}}{{name}}{{#unless @last}}; {{/unless}}{{/geneName}}</div>
            {{else}}
            <div class="col-md-3 col-xs-3" style="color: grey;text-align:right">ORF name :</div>
            <div class="col-md-6 col-xs-6">{{geneName.[0].orf.[0].name}}</div>
            {{/if}}
         {{else}}
            <div class="col-md-3 col-xs-3" style="color: grey;text-align:right">Gene name :</div>
            <div class="col-md-6 col-xs-6" >None assigned yet</div>
         {{/if}}

    </div>
    {{#if families}}
    <div id="family-less" class="row">
        <div class="col-md-3 col-xs-3" style="color: grey;text-align:right">Family name :</div>
        <div class="col-md-6 col-xs-6">{{#families}}<span>{{#superfamily}}{{{link_to "term"}}}{{/superfamily}}{{#if family}}{{#if superfamily}} >> {{/if}}{{#family}} {{{link_to "term"}}} {{/family}}{{/if}}{{#if subfamily}}{{#if family}} >> {{/if}}{{#subfamily}}{{{link_to "term"}}} {{/subfamily}}{{/if}}</span>{{/families}}</div>
    </div>
    {{/if}}
</div>
<div id="INFOS-FULL" style="display:none">
    <div id="protein-full" class="row">
        <div class="col-md-1 col-xs-2 text-uppercase" style="color: grey;">Protein</div>
        <div class="col-md-9 col-xs-8">
            <dl>
                <dt>Recommended name</dt>
                {{#recommendedProteinName}}
                <dd>{{name}} {{#synonyms}}{{#if EC}}[{{#EC}} {{{link_to "EC"}}} {{#unless @last}},{{/unless}} {{/EC}} ] {{/if}} {{#if short}}<span><span style="color:grey">Short: </span> {{#short}}{{this}}{{#unless @last}} , {{/unless}}{{/short}}</span>{{/if}}{{/synonyms}}</dd>
                {{/recommendedProteinName}}
                {{#if alternativeProteinNames}}
                {{#alternativeProteinNames}}
                <dt>{{type}}{{plural names}}</dt>
                {{#names}}
                <dd> {{name}}
                    {{#synonyms}}{{#if EC}}[{{#EC}} {{{link_to "EC"}}} {{#unless @last}},{{/unless}} {{/EC}} ] {{/if}} {{#if short}}<span><span style="color:grey">Short: </span> {{#short}}{{this}}{{#unless @last}} , {{/unless}}{{/short}}</span>{{/if}}{{/synonyms}}
                </dd>
                {{/names}}
                {{/alternativeProteinNames}}
                {{/if}}
                {{#if functionalRegionNames}}
                {{#functionalRegionNames}}
                <dt>Include the following {{names.length}} functional region{{plural names}}</dt>
                {{#names}}
                <dd> {{name}}
                    {{#synonyms}}{{#if EC}}[{{#EC}} {{{link_to "EC"}}} {{#unless @last}},{{/unless}} {{/EC}} ] {{/if}} {{#if full}}<span><span style="color:grey">Alternative name{{plural full}}:</span> {{#full}}{{this}}{{#unless @last}} ; {{/unless}}{{/full}}</span>{{/if}}{{/synonyms}}
                </dd>
                {{/names}}
                {{/functionalRegionNames}}
                {{/if}}
                {{#if cleavage}}
                {{#cleavage}}
                <dt>Cleaved into the following {{names.length}} chain{{plural names}}</dt>
                {{#names}}
                <dd>{{name}} {{#synonyms}}{{#if EC}}[{{#EC}} {{{link_to "EC"}}} {{#unless @last}},{{/unless}} {{/EC}} ] {{/if}} {{#if full}}<span><span style="color:grey">Alternative name{{plural full}}:</span> {{#full}}{{this}}{{#unless @last}} ; {{/unless}}{{/full}}</span>{{/if}}{{/synonyms}}</dd>
                {{/names}}
                {{/cleavage}}
                {{/if}}
                {{#if isoforms}}
                <dt>Spliced into the following {{isoforms.length}} isoform{{plural isoforms}}</dt>
                {{#isoforms}}
                <dd>{{name}} {{#if synonyms}}<span style="color:grey"> Alternative name{{plural synonyms}}: </span>{{#synonyms}}{{name}}{{#unless @last}} ; {{/unless}}{{/synonyms}}{{/if}}</dd>
                {{/isoforms}}
                {{/if}}
            </dl>
        </div>
    </div>
    <div id="gene-full" class="row">
        <div class="col-md-1 col-xs-2 text-uppercase" style="color: grey;">Gene</div>
        <div class="col-md-9 col-xs-8">
            <dl>
                {{#if geneName}}
                {{#geneName}}
                {{#if name}}
                <dt>Recommended name</dt>
                <dd>{{name}}</dd>
                {{/if}}
                {{#if synonyms}}
                <dt>Alternative name{{plural synonyms}}</dt>
                {{#synonyms}}
                <dd> {{name}}</dd>
                {{/synonyms}}
                {{/if}}
                {{#if orf}}
                <dt>ORF name{{plural orf}}</dt>
                {{#orf}}
                <dd> {{name}}</dd>
                {{/orf}}
                {{/if}}
                {{#unless @last}}
                <br>
                {{/unless}}
                {{/geneName}}
                {{else}}
                <dt>Recommended name</dt>
                <dd>None assigned yet</dd>
                {{/if}}
            </dl>
        </div>
    </div>
    {{#if families}}
    <div id="family-full" class="row">
        <div class="col-md-1 col-xs-2 text-uppercase" style="color: grey;">Family</div>
        <div class="col-md-9 col-xs-8">
            <dl>
                {{#families}}
                {{#if superfamily}}
                {{#superfamily}}
                <dt>Superfamily</dt>
                <dd>{{{link_to "term"}}}</dd>
                {{/superfamily}}
                {{/if}}
                {{#if family}}
                {{#family}}
                <dt>Family</dt>
                <dd>{{{link_to "term"}}}</dd>
                {{/family}}
                {{/if}}
                {{#if subfamily}}
                {{#subfamily}}
                <dt>Subfamily</dt>
                <dd>{{{link_to "term"}}}</dd>
                {{/subfamily}}
                {{/if}}
                {{/families}}
            </dl>
        </div>
    </div>
    {{/if}}
    <div id="History-full" class="row">
        <div class="col-md-1 col-xs-2 text-uppercase" style="color: grey;">History</div>
        <div class="col-md-9 col-xs-8">
            <dl>
                <dt>neXtProt</dt>
                <dd>Integrated {{integDate}}</dd>
                <dd>Last updated {{lastUpdate}}</dd>
                <dt>UniProtKB</dt>
                <dd>Integrated {{UniprotIntegDate}}</dd>
                <dd>Last updated {{UniprotLastUpdate}}</dd>
                <dd>Entry version {{version}}</dd>
                {{#if lastSeqUpdate}}
                <dd>Last sequence update {{lastSeqUpdate}}</dd>
                {{/if}}
                <dd>Sequence version {{seqVersion}}</dd>
                <dd>{{#accessionNumber}}{{{link_to "history"}}}{{/accessionNumber}}</dd>
            </dl>
        </div>
    </div>
</div>
<p style="margin:10px 10px;">{{proteineEvidence}}. {{proteineEvidenceCaution}}</p>